.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .container { 
    display: flex; 
  } 
  .left-component { 
    float: left; 
    width: 50%;
    align-items: center; 
  } 
   
  .right-component { 
    float: right; 
    width: 50%; 
  } 
  
  .top-component { 
    float: top; 
    width: 100%; 
    height: 50%;
    align-self: center;
    align-items: center;
    position:relative;
  } 
   
  .bottom-component { 
    position:absolute;
    float: bottom; 
    align-self: baseline;
    width:100%; 
    height: 50%;
    position:relative;

  } 
   
  .headingtext { 
    width:100%;
    text-align: center;
    font-size: 10vh;
    display:block;
    margin-left: auto;
    margin-right: auto;
  } 
  
  .subtext { 
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    text-align: center;
    display:block;
    margin-left: auto;
    margin-right: auto;
    font-size: 2vh;
    width: 50%;
  } 
  
  .highlight-gradient {
    width: auto;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); 
    font-weight: bold;
    height: auto;
    border-radius: 2px;
    padding: 2px 5px;
    display: inline-block;
    margin-right: 1vh;
    background-image: linear-gradient(90deg, rgba(246,224,255,1) 0%, rgba(254,185,251,1) 35%, rgba(148,237,255,1) 100%);
  }
  

  .gradient_background {
    background: linear-gradient(90deg, #0062ff, #da61ff);
    height: auto;
    width: auto;
    
  }

.img{
  display:block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
}

.right {
  
  margin:0px auto 0px auto;
  padding: 10px;
}

.left {
  margin:0px auto 0px auto;
  padding: 10px;
}


